html
    head 
        link(rel='stylesheet', href='styles.css')
        title="Plantilla PUG"
    body 
        h1="Ingrese un Producto"
        hr
        form
            label="Nombre"
            br
            input
            br
            label="Precio"
            br
            input
            br
            label="Foto(url)"
            br
            input
            br
            button="Enviar"